<div id="formContainer" class="form-popup" style="display: none;">
    <form id="todo-form" action="/post" method="POST" class="form-container">
        <label for="newTodo"><b>Todo</b></label>
        <input type="text" placeholder="Enter Todo" name="todo" required>
        <label for="status">Status:</label>
        <input type="text" id="todo-input" placeholder="Enter a status.." name="status"> 
        <button type="submit">Add</button> 
        <button type="button" class="btn cancel" id="closeFormBtn">Close</button>
    </form>
</div>
