<%- include("partials/header.ejs") %>
<h1>About Me</h1>
<img class="profile" src="images/cat.jpeg" alt="cat profile">
<p>
  Hey I am Shivansh Kumar ,a Backend Developer and Btech 2024 Graduate from SRM-IST 
  <br>I like playing basketball and i am into deep tech so most of time 
  i try to learn new tech to upskill my self
</p>
<%- include("partials/footer.ejs") %>