<%- include("partials/header.ejs") %>


  <h1>Home Page</h1>

  <h2>Welcome to My Portfolio</h2>
  <p>This website is a dummy portfolio website built using express as the backend for routing and 
    EJS as the template with css and bootstrap for styling ,so pls explore this webiste 
  </p>

  <%- include("partials/footer.ejs") %>