<nav class="navbar navbar-light bg-light">
    <div class="site-title">
      <h1>Awesome Blogs</h2>
      <p>A simple blogging site:</p>
    </div>
    <ul class="nav-flex-container">
      <li><a class="navbar-brand" href="/">Blogs</a></li>
      <li><a class="navbar-brand" href="/about">About</a></li>
      <li><a class="navbar-brand" href="/blogs/create">New Blog</a></li>
    </ul>
  </nav>